{% extends "base.html" %} {% block title %} Delete Country | BRCG 🚀 {% endblock %} {% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="row container-lg justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="card shadow">
        <div class="card-header text-center fw-bold">Delete Country</div>

        <div class="card-body">
          <form action="{% url 'countries:delete' pk=object.pk %}" method="post">
            {% csrf_token %}
            <p class="text-center">
              Are you sure you want to delete "<b>{{ object }}</b>"?
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <a href="{% url 'countries:index' %}" class="btn btn-secondary">
                Back
              </a>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
